# variable

In [2]:
X = 101

In [3]:
X

101

In [4]:
print(X+10)

111

In [5]:
 y = 101+111+108+128

In [ ]:
y

In [ ]:
y*2

In [ ]:
y/3

# Arithmatic operator

#assign two variable naming as age,weight. operate the arithmatic operation

In [ ]:
age = 22
weight = 90

In [ ]:
age+weight

In [ ]:
age*weight

In [ ]:
age-weight

In [ ]:
age/weight

In [ ]:
age%weight           #modulus

In [ ]:
age//weight             ##  floor division

In [ ]:
age**weight         #power

# logical operators (and, or,not)

assign two variable naming as age,weight,weight1. operate the logical operation

In [ ]:
age = 22
weight = 90
weight1  = 100

In [ ]:
#and

age and weight

In [ ]:
age or weight

In [ ]:
weight and weight1

In [ ]:
not weight

# Comparision operators (<,>,<=,>=,!=,==)     #output is in boolean

#assign two variable naming as age,weight,weight1. operate the logical operation

In [ ]:
age < weight

In [ ]:
age>weight

In [ ]:
age!=weight

In [ ]:
age>=weight

In [ ]:
age<=weight

In [ ]:
age==weight

# Membership operator (is,is not,in,not in)

In [ ]:
XYZ = [21,22,0,24,26,5,10]

In [ ]:
type(XYZ)

In [ ]:
XYZ is type(XYZ)

In [ ]:
22 in XYZ

In [ ]:
22 not in XYZ

In [ ]:
XYZ is not list

# Assignment opertaor(=,+=,-=,*=,**=,=,/=,//=,%=)

In [ ]:
age += 20

In [ ]:
age

In [ ]:
age-=20

In [ ]:
age

In [ ]:
age/=20

In [ ]:
age

In [ ]:
age*=20
age

In [ ]:
age%=20
age

In [ ]:
age//=20
age

In [ ]:
age**=20
age

# STRING:
Strings in python are surrounded by either single quotation marks, or double quotation marks.

 
#String manupulation (string functions)

In [1]:
data_science='''Data science is the study of data to extract meaningful insights for business.
It is a multidisciplinary approach that combines principles and practices from the fields of
mathematics, statistics, artificial intelligence, and computer engineering to analyze large 
amounts of data.'''

In [2]:
data_science

'Data science is the study of data to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.'

In [3]:
type(data_science)

str

In [4]:
data_science.capitalize()

'Data science is the study of data to extract meaningful insights for business.\nit is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.'

In [5]:
data_science.casefold()

'data science is the study of data to extract meaningful insights for business.\nit is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.'

In [6]:
data_science.center(500)

'                                                                                                             Data science is the study of data to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.                                                                                                              '

In [7]:
 en = data_science.encode(encoding = 'utf-8',error = 'strict')

TypeError: 'error' is an invalid keyword argument for encode()

In [8]:
data_science.endswith('a')

False

In [9]:
data_science.expandtabs(3)

'Data science is the study of data to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.'

In [10]:
data_science.find('data')

29

In [11]:
data_science.format()

'Data science is the study of data to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.'

In [12]:
data_science.format_map(1)

'Data science is the study of data to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.'

In [13]:
data_science.index('study')

20

In [14]:
tt = data_science.split('\t\n')

In [15]:
tt

['Data science is the study of data to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.']

In [16]:
tt[0]

'Data science is the study of data to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.'

In [17]:
data_science.replace('data','Data science')

'Data science is the study of Data science to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of Data science.'

In [18]:
data_science.startswith('f')

False

In [19]:
data_science.swapcase()

'dATA SCIENCE IS THE STUDY OF DATA TO EXTRACT MEANINGFUL INSIGHTS FOR BUSINESS.\niT IS A MULTIDISCIPLINARY APPROACH THAT COMBINES PRINCIPLES AND PRACTICES FROM THE FIELDS OF\nMATHEMATICS, STATISTICS, ARTIFICIAL INTELLIGENCE, AND COMPUTER ENGINEERING TO ANALYZE LARGE \nAMOUNTS OF DATA.'

In [20]:
data_science.zfill(2)

'Data science is the study of data to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.'

In [21]:
data_science.ljust(5)

'Data science is the study of data to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.'

In [22]:
data_science.rjust(800)

'                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Data science is the study of data to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.'

In [23]:
data_science.isalnum()        #returns true if all the character are alphanumeric

False

In [24]:
data_science.isalpha()

False

In [25]:
data_science.isascii()

True

In [26]:
data_science.isdecimal()

False

In [27]:
data_science.isdigit()

False

In [28]:
data_science.isidentifier()

False

In [29]:
data_science.islower()

False

In [30]:
data_science.isprintable()

False

In [31]:
data_science.isspace()

False

In [32]:
data_science.istitle()

False

In [33]:
data_science.isupper()

False

In [34]:
data_science[0:4]

'Data'

In [35]:
data_science[0:78]

'Data science is the study of data to extract meaningful insights for business.'

In [36]:
data_science[-1]

'.'

In [37]:
data_science[-5:-1]

'data'

accessing index:
[Start:End:Step]

In [38]:
data_science[0:10:2]

'Dt ce'

In [39]:
data_science[-10:-1:2]          #if we take from the last we have to use negtive sign

'so aa'

In [40]:
data_science[::]

'Data science is the study of data to extract meaningful insights for business.\nIt is a multidisciplinary approach that combines principles and practices from the fields of\nmathematics, statistics, artificial intelligence, and computer engineering to analyze large \namounts of data.'

In [41]:
data_science[:5:]

'Data '

In [42]:
data_science[::6]

'Dc eya cnlgoi\n tirrtosc remf titiriteam e al\ntd'

#formating using format

In [43]:
age = 20
weight = 90

In [44]:
statement = 'my age is{},my weight is{}'

In [45]:
statement.format(age,weight)

'my age is20,my weight is90'

In [46]:
 statement_2 = f'my age is {age}, my weight is {weight}'      #f is only follows for string

In [47]:
f'{age}'

'20'

In [48]:
f'{age*3}'

'60'

 user input function ->  input()

In [49]:
x = input()
print(x)

40
40

In [50]:
y = input()

24

In [51]:
type(y)                  #it always take as string

str

In [54]:
z = int(input(""))         #for an specific datatype we have to add their data type

34

In [55]:
type(z)

int

In [56]:
x1 = input('Please give your age: ')

Please give your age: 34

In [57]:
x1 = input('please give your name:')

please give your name:ANISH

In [58]:
f'my age is {input()} and my weight is {input()}'

22
90

'my age is 22 and my weight is 90'

In [60]:
students_details = f'on an average my student attendance is {input()} and absence is {input()}'

80
20

In [61]:
print(students_details)

on an average my student attendance is 80 and absence is 20

 string concatination:To concatenate, or combine, two strings you can use the + operator.

In [64]:
statement,students_details

('my age is{},my weight is{}',
 'on an average my student attendance is 80 and absence is 20')

In [65]:
statement + '------' + students_details

'my age is{},my weight is{}------on an average my student attendance is 80 and absence is 20'

In [66]:
len(statement)

26

In [67]:
len(statement_2)

29

#task : create a three variables and input()to get the statement/values of variables, you have to calculate/check which string has greater lenght?

In [76]:
statement1 = (input("enter the value of the first variable :"))
statement2 = (input("enter the value of the second variable :"))
statement3 = (input("enter the value of third variable"))

enter the value of the first variable :50
enter the value of the second variable :30
enter the value of third variable90

In [77]:
len(statement1)

2

In [78]:
len(statement2)

2

In [79]:
len(statement3)

2

In [80]:
len(statement1)>len(statement2)

False

In [81]:
len(statement1)>len(statement3)

False

# list 
Lists are used to store multiple items in a single variable.
Lists are created using square brackets

In [143]:
L1 = [10,11,12,13,14,15,16,17,18,19,20]
L2 = ['A','B','C','D','E']

In [86]:
type(L1)

list

In [87]:
L1[::]                                                    #SLICING

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [88]:
L1[0:11:2]

[10, 12, 14, 16, 18, 20]

In [89]:
L1[:11:3]

[10, 13, 16, 19]

In [90]:
L1[0:8]

[10, 11, 12, 13, 14, 15, 16, 17]

In [91]:
L1[0:8:2]

[10, 12, 14, 16]

In [92]:
L3 = L1+L2                                 #JOINING

In [93]:
L3

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 'A', 'B', 'C', 'D', 'E']

In [94]:
L1.append(L2)              #ACCESS USING FUNCTION

In [95]:
L1

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, ['A', 'B', 'C', 'D', 'E']]

In [96]:
L3 = L1.copy()

In [97]:
L3

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, ['A', 'B', 'C', 'D', 'E']]

In [98]:
L1.count(L1)

0

In [99]:
L1.extend(L3)

In [100]:
L3

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, ['A', 'B', 'C', 'D', 'E']]

In [1]:
L1.index(12)

NameError: name 'L1' is not defined

In [102]:
L2.insert(21,22)

In [103]:
L2

['A', 'B', 'C', 'D', 'E', 22]

In [104]:
L2.pop()

22

In [105]:
L2

['A', 'B', 'C', 'D', 'E']

In [106]:
L2.remove('E')

In [107]:
L2

['A', 'B', 'C', 'D']

In [108]:
L2.reverse()

In [109]:
L2

['D', 'C', 'B', 'A']

In [110]:
L2.sort()

In [111]:
L2

['A', 'B', 'C', 'D']

In [112]:
myList = ["one", "two", 37, "four", 51];                    #updation
myList[2] = "three";
print(myList);

['one', 'two', 'three', 'four', 51]

In [113]:
LL1 = 2                                                # type casting

In [114]:
type(LL1)

int

In [115]:
X = float(LL1)

In [116]:
X

2.0

# data structures
1) string
2) list
 3)set
4) tuple
5) dictionary

string : slicing,joining,concatination,access,deletion,iterating,casting
 LIST : SLICING, ACCESS, UPDATION,DELETION,ITERATING,CASTING
  TUPLE:  SLICNG,ITERATING,Casting
    SET : ITERATING,CASTING,UPDATION,DELETION,SET OPERATION(UNION,DIFFEERENCE,INTERSECTION)
     dictionary: slicing using a function,accesssing using function,deletion,iterating,casting only using a function

In [117]:
L1 = [10,11,12,13,14,15]
L2 = [11,15,18,19,16,27,12]

In [118]:
print(L1[0:7:2])            #[START:END:STEP]

[10, 12, 14]

In [119]:
L1 + L2                   #JOINING

[10, 11, 12, 13, 14, 15, 11, 15, 18, 19, 16, 27, 12]

In [120]:
L1*2

[10, 11, 12, 13, 14, 15, 10, 11, 12, 13, 14, 15]

In [121]:
    L1[4]=105

In [122]:
L1

[10, 11, 12, 13, 105, 15]

In [123]:
L1.append(188)     #WE CAN APPEND MULTILE VALUES

In [124]:
L1

[10, 11, 12, 13, 105, 15, 188]

In [125]:
L1.clear()

In [126]:
L1

[]

In [127]:
 L3=L1.copy()

In [128]:
L3

[]

In [129]:
L3.count(11)

0

In [130]:
L2.extend(L3)

In [131]:
L2

[11, 15, 18, 19, 16, 27, 12]

In [132]:
L2.index(15)

1

In [133]:
L2.insert(1,'#')

In [134]:
L2

[11, '#', 15, 18, 19, 16, 27, 12]

In [135]:
L2.pop()

12

In [136]:
L2

[11, '#', 15, 18, 19, 16, 27]

In [137]:
L2.remove(15)

In [138]:
L2

[11, '#', 18, 19, 16, 27]

In [139]:
L2.reverse()

In [140]:
L2

[27, 16, 19, 18, '#', 11]

In [141]:
L1.sort(reverse = True)

In [142]:
L1

[]

# Tuple
Tuples are used to store multiple items in a single variable.A tuple is a collection which is ordered(it means that the items have a defined order, and that order will not change.) and unchangeable(we cannot change, add or remove items after the tuple has been created)

In [144]:
T1 = 10,'EXCELR',10J+1

In [145]:
type(T1)

tuple

In [146]:
T1.count(10)

1

In [147]:
T1.index(10)

0

In [148]:
T2 = ('ONE', 2,'THREE',4)

In [149]:
T1+T2

(10, 'EXCELR', (1+10j), 'ONE', 2, 'THREE', 4)

In [150]:
  T3 = list(T1)

In [151]:
T3[0] = 11

In [152]:
T3

[11, 'EXCELR', (1+10j)]

In [153]:
T3 = tuple(T3)

In [154]:
type(T3)

tuple

# set
Sets are used to store multiple items in a single variable.A set is a collection which is unordered(items in a set do not have a defined order.Set items can appear in a different order every time you use them, and cannot be referred to by index or key.), unchangeable(Set items are unchangeable, meaning that we cannot change the items after the set has been created), and unindexed.Set items are unchangeable, but you can remove items and add new items.Sets are unordered, so you cannot be sure in which order the items will appear.Set items are unordered, unchangeable, and do not allow duplicate values(Sets cannot have two items with the same value).Once a set is created, you cannot change its items, but you can remove items and add new items.

In [155]:
S1 = {101,102,103,105,110,99,88,110,101}

In [156]:
S1                 #REMOVING THE REPETITIVE VALUE #SORTED MANNER

{88, 99, 101, 102, 103, 105, 110}

In [157]:
S2 = {201,202,205,208,99,88,110,101}

In [158]:
type(S1)

set

In [159]:
S1.add(22222)

In [160]:
S1

{88, 99, 101, 102, 103, 105, 110, 22222}

In [161]:
S3 =S1.copy()

In [162]:
S3

{88, 99, 101, 102, 103, 105, 110, 22222}

In [163]:
S1.difference(S2)

{102, 103, 105, 22222}

In [164]:
S1

{88, 99, 101, 102, 103, 105, 110, 22222}

In [165]:
S1.difference_update(S2)

In [166]:
S1

{102, 103, 105, 22222}

In [167]:
S2

{88, 99, 101, 110, 201, 202, 205, 208}

In [168]:
S1.discard(102)

In [169]:
S1

{103, 105, 22222}

In [170]:
S1.intersection(S3)

{103, 105, 22222}

In [171]:
S1.intersection_update(S3)

In [172]:
S1

{103, 105, 22222}

In [173]:
S1.isdisjoint(S3)

False

In [174]:
S1,S2,S3

({103, 105, 22222},
 {88, 99, 101, 110, 201, 202, 205, 208},
 {88, 99, 101, 102, 103, 105, 110, 22222})

In [175]:
S1.issubset(S1)

True

In [176]:
S1.issuperset(S2)

False

In [177]:
S2.pop()

99

In [178]:
S2

{88, 101, 110, 201, 202, 205, 208}

In [179]:
S1.symmetric_difference(S2)

{88, 101, 103, 105, 110, 201, 202, 205, 208, 22222}

In [180]:
S1,S2

({103, 105, 22222}, {88, 101, 110, 201, 202, 205, 208})

In [181]:
S1.symmetric_difference_update(S2)

In [182]:
S1

{88, 101, 103, 105, 110, 201, 202, 205, 208, 22222}

In [183]:
S1.union(S2)

{88, 101, 103, 105, 110, 201, 202, 205, 208, 22222}

In [184]:
S1.update([120])

In [185]:
S1

{88, 101, 103, 105, 110, 120, 201, 202, 205, 208, 22222}

# DICTIONARY
Dictionaries are used to store data values in key:value pairs.A dictionary is a collection which is ordered(items have a defined order, and that order will not change), changeable(we can change, add or remove items after the dictionary has been created) and do not allow duplicates.

In [186]:
Dict1 = {1:'S1',2:'S2',3:'S3',4:'S4'}            #ACCESS USING FUNCTION

In [187]:
  Dict2 = Dict1.copy()

In [188]:
Dict2

{1: 'S1', 2: 'S2', 3: 'S3', 4: 'S4'}

In [189]:
Dict1.fromkeys(Dict2)

{1: None, 2: None, 3: None, 4: None}

In [190]:
Dict3 = {1:'D1',2:'D2',3:'D3',4:'D4'}

In [191]:
Dict3.fromkeys(Dict1)

{1: None, 2: None, 3: None, 4: None}

In [192]:
Dict1.get(3)

'S3'

In [193]:
Dict1.items()

dict_items([(1, 'S1'), (2, 'S2'), (3, 'S3'), (4, 'S4')])

In [194]:
Dict1.keys()

dict_keys([1, 2, 3, 4])

In [195]:
Dict1.pop(2)

'S2'

In [196]:
Dict1

{1: 'S1', 3: 'S3', 4: 'S4'}

In [197]:
Dict1.popitem()

(4, 'S4')

In [198]:
Dict1.setdefault(4)

In [199]:
Dict1

{1: 'S1', 3: 'S3', 4: None}

In [200]:
Dict1.update(Dict2)

In [201]:
Dict1

{1: 'S1', 3: 'S3', 4: 'S4', 2: 'S2'}

In [202]:
Dict1.values()

dict_values(['S1', 'S3', 'S4', 'S2'])

In [203]:
Dict1,Dict2

({1: 'S1', 3: 'S3', 4: 'S4', 2: 'S2'}, {1: 'S1', 2: 'S2', 3: 'S3', 4: 'S4'})

In [204]:
Dict1[3]='ss3'

In [205]:
Dict1

{1: 'S1', 3: 'ss3', 4: 'S4', 2: 'S2'}

In [206]:
Student_info = {'S1_no':[1,2,3,4,5],'name':['Anish','Aayush','saumya','shrvanya','priya'],'marks':[50,40,80,70,60]}   #UPDATION

In [207]:
Student_info

{'S1_no': [1, 2, 3, 4, 5],
 'name': ['Anish', 'Aayush', 'saumya', 'shrvanya', 'priya'],
 'marks': [50, 40, 80, 70, 60]}

In [208]:
Student_info['name']= 'student_name'

In [209]:
Student_info['name']= 'Anish','Aayush','saumya','shrvanya','shubhen'

In [210]:
Student_info

{'S1_no': [1, 2, 3, 4, 5],
 'name': ('Anish', 'Aayush', 'saumya', 'shrvanya', 'shubhen'),
 'marks': [50, 40, 80, 70, 60]}

In [211]:
Student_info.keys()

dict_keys(['S1_no', 'name', 'marks'])

In [212]:
Student_info.values()

dict_values([[1, 2, 3, 4, 5], ('Anish', 'Aayush', 'saumya', 'shrvanya', 'shubhen'), [50, 40, 80, 70, 60]])

In [213]:
#task - create a dictionary with marks,name,age,subjects with 10 names and 6 subjects

In [1]:
student_info =[
               {
               'name':['Anish'],
                'age':22,
                 'subjects':['s1','s2','s3','s4','s5','s6'],
                 'marks':['34,5,43,56,56,43,74']
               },
               {
                   'name':['aayush'],
                 'age':23,
                 'sujects':['s1','s2','s3','s4','s5','s6'],
                  'marks':['34,5,43,56,56,43,74']
               },
               { 
                   'name':['saumya'],
                 'age':24,
                 'sujects':['s1','s2','s3','s4','s5','s6'],
                  'marks':['34,5,43,56,56,43,74']
               },
               {  
                   'name':['shrvanya'],
                    'age':25,
                 'sujects':['s1','s2','s3','s4','s5','s6'],
                  'marks':['34,5,43,56,56,43,74']
               },
               {
                   'name':['priya'],
                      'age':26,
                  'sujects':['s1','s2','s3','s4','s5','s6'],  
                  'marks':['34,5,43,56,56,43,74']
               },
               { 
                   'name':['shubhen'], 
                    'age':27,
                  'sujects':['s1','s2','s3','s4','s5','s6'], 
                  'marks':['34,5,43,56,56,43,74']
               },
               {
                   'name':['shubhank'], 
                    'age':28,
                   'sujects':['s1','s2','s3','s4','s5','s6'],  
                     'marks':['34,5,43,56,56,43,74'] 
               },
               {  
                   'name':['kunal'],
                   'age':29,
                    'sujects':['s1','s2','s3','s4','s5','s6'],
                   'marks':['34,5,43,56,56,43,74']
               },
               {
                   'name':['kanishka'],
                   'age':30, 
                   'sujects':['s1','s2','s3','s4','s5','s6'],
                   'marks':['34,5,43,56,56,43,74'] 
               },
               { 
                   'name':['mihika'],
                   'age':31,
                    'sujects':['s1','s2','s3','s4','s5','s6'],
                    'marks':['34,5,43,56,56,43,74'] 
               }
               ]

In [2]:
print('name:',student_info[0],['name'])
print('age:',student_info[0],['age'])
print('subjects:',student_info[0],['subjects'])
print('marks:',student_info[0],['marks'])

name: {'name': ['Anish'], 'age': 22, 'subjects': ['s1', 's2', 's3', 's4', 's5', 's6'], 'marks': ['34,5,43,56,56,43,74']} ['name']
age: {'name': ['Anish'], 'age': 22, 'subjects': ['s1', 's2', 's3', 's4', 's5', 's6'], 'marks': ['34,5,43,56,56,43,74']} ['age']
subjects: {'name': ['Anish'], 'age': 22, 'subjects': ['s1', 's2', 's3', 's4', 's5', 's6'], 'marks': ['34,5,43,56,56,43,74']} ['subjects']
marks: {'name': ['Anish'], 'age': 22, 'subjects': ['s1', 's2', 's3', 's4', 's5', 's6'], 'marks': ['34,5,43,56,56,43,74']} ['marks']

# conditional statements:
   if,
   if else,
   if..elif..else,
   ternary operator (value if true if condition else value is false)

In [235]:
#python support the usual logical condition :
#a==b
#a<=b
#a>=b
#a!=b
# if=An "if statement" is written by using the if keyword.
#elif="The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".
#else="The else keyword catches anything which isn't caught by the preceding conditions."

In [236]:
A = 10                                  #if it is false it is not gonna give output
B = 20

In [237]:
if A<B : {
    print('A is smaller than B')
}

A is smaller than B

In [238]:
if A>B: {
    print('A is greater than B')
}
else : 
    print('A is smaller than B')

A is smaller than B

In [239]:
if A==B:
    print('A is equals to B')
else :
    print('A is not equals to B')

A is not equals to B

In [240]:
if A!=B:
    print('A is not equals to B')

A is not equals to B

In [241]:
if A <= B:
    print('A is smaller than or equals to B')

A is smaller than or equals to B

In [242]:
if A >= B:
    print('A is greater than or equals to B')
else:
    print('A is smaller than or equals to B')

A is smaller than or equals to B

 if using the logical operators(and,or,not)

In [245]:
#and = The and keyword is a logical operator, and is used to combine conditional statements.
#or = The or keyword is a logical operator, and is used to combine conditional statements.
#not = The not keyword is a logical operator, and is used to reverse the result of the conditional statement.

In [246]:
A == 10 and B == 20

True

In [247]:
if A > 8 and B > 10:
    print('both statements are true')

both statements are true

In [248]:
if A > 8 and B==10:
    print('both statements are true')
else:
    print('one statement is false')

one statement is false

In [249]:
if A > 9 or B == 10:
    print('A is greater than  9  ')

A is greater than  9

In [250]:
 if A > 10 or B >10:
        print('B is greater than 10')

B is greater than 10

In [251]:
if not A > 8 and B == 10:
    print('print both statement is true')
else:
    print('one statement is true')

one statement is true

In [252]:
if not A > 8:
    print('1st statement is true')
elif B!=10:
    print('2nd statement is true')
else :
    print('both the statements are false')

2nd statement is true

task: check the given user input is even/odd?

In [253]:
a =  int(input('enter a number'))
if a%2==0:
    print('the number is even')
else: 
    print('the number is odd')

enter a number5
the number is odd

task : check the user age is eligible for voting or not?

In [254]:
age = int(input('enter a age'))
if age >= 18:
    print('eligible for voting')
else :
    print('not eligible')

enter a age23
eligible for voting

task : give the fair price of given age of user eg:
        if age is 5 price will be 10,
        if age is 6-15 pricee will be 15,
        greater thn 15 will have 20 price

In [255]:
age = int(input('age of a person'))
if age <=5:
    print('price will be 10')
elif age>=6 and age<=15:
    print('price will be 15')
else:
    print('price will be 20')

age of a person45
price will be 20

Ternary Operators or Conditional Expressions:
price = value_if_true if condition else value_if_false

In [63]:
A>B

False

In [65]:
price1 = print('value is true')if A>B else print('print value is false')

print value is false

In [66]:
price1 = 10 if A>B else 20

In [67]:
price1

20

task : create a marksheet with grade of marks
      90+------ A grade,
      70+-------B grade,
      50+-------c grade,
      30+-------D grade,
      >30-------fail

In [6]:
marks =  int(input('enter the student marks:'))
if marks >= 90 :
    print('A grade')
elif marks >=70 and marks<89:
    print('B grade')
elif marks>=50 and marks<69:
    print('C grade')
elif marks>=30 and marks<49:
    print('D grade')
else :
    print('fail')

enter the student marks:78
B grade

In [1]:
marks = [90,80,85,36,45,80]
if 80 in marks:
    print('the 80 marks has been in list')

the 80 marks has been in list

In [2]:
if 90 not in marks:
    print('the marks 90 has been in list')
else :
    print('the value is not in list')

the value is not in list

In [4]:
age = int(input('enter the age:'))
if age in range(15,30):
    print('you can take admission in college')
else:
    print('you cannot take admission in college')

enter the age:14
you cannot take admission in college

# looping statements

 (for,while)

In [ ]:
# for = A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [6]:
#for var in range():
    #print(var)

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1,11):       #With the break statement we can stop the loop before it has looped through all the items
    if i==5:
        break
    print(i)

1
2
3
4

In [8]:
for i in range(1,11):       #With the continue statement we can stop the current iteration of the loop, and continue with the next
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [9]:
for i in range(1,11):       #for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.
    if i==5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
sum1 = 0
for k in range(5):
    sum1 += k
print(sum1)

10

In [11]:
sum1 = [0,1,2,3,4]
sum2 = 0
for k in sum1:
    sum2 +=k
    print(sum2)

0
1
3
6
10

In [13]:
sum1 = 0
for k in range(0,5):
    sum2 -= k
print(sum1)

0

In [14]:
sum1  = 1
for k in range (0,5):
    sum1 *= k
print(sum1)

0

In [15]:
sum1  = 1
for k in range (1,5):
    sum1 *= k
print(sum1)

24

In [16]:
1*2*3*4

24

In [17]:
sum1 = 0
for k in range (1,11,2):               #(start,end,step)
    sum1 += 2
    print(sum1)

2
4
6
8
10

In [18]:
sum1 = 0
for k in range(11):
    sum1+=4
    print(sum1)

4
8
12
16
20
24
28
32
36
40
44

task = creating table 2 to 10 as list

In [16]:
a = [1,2,3,4,5,6,7,8,9,10]
b = int(input("enter which table do you need:"))
c = []
for i in range(0,len(a)):
    j = b*a[i]
    c.append(j)
    print(b*a[i])

enter which table do you need:5
5
10
15
20
25
30
35
40
45
50

nested loop

In [ ]:
#A nested loop is a loop inside a loop.
#The "inner loop" will be executed one time for each iteration of the "outer loop"

In [10]:
i = 5
j = 2
for k in range (i):
    print('2')
    for l in range (j):
        print('0')

2
0
0
2
0
0
2
0
0
2
0
0
2
0
0

In [11]:
k = [0,1,5,6,7]
i = ['s1','s2','s3','s4']
for j in k:
    if 's1' in i:
        print('s1 is present in i')
        for l in k:
            l+=1
           # for m in i:
            #    pass
               # print(m)
            print(l)

s1 is present in i
1
2
6
7
8
s1 is present in i
1
2
6
7
8
s1 is present in i
1
2
6
7
8
s1 is present in i
1
2
6
7
8
s1 is present in i
1
2
6
7
8

In [12]:
k = [0,1,5,6,7]
i = ['s1','s2','s3','s4']
for j in k:
    if 's1' in i:
        print('s1 is present in i')
        for l in k:       #here print is not there so this can't print
            l+=1
            for m in i:
                print(m)

s1 is present in i
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1 is present in i
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1 is present in i
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1 is present in i
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1 is present in i
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4
s1
s2
s3
s4

In [14]:
k = [0,1,5,6,7]
i = ['s1','s2','s3','s4']
for j in k:
    if 's1' in i:
        print('s1 is present in i')
        for l in k:       
            l+=1
            #print(l)
            for m in i:
                pass
            
                #print(m)

s1 is present in i
s1 is present in i
s1 is present in i
s1 is present in i
s1 is present in i

In [1]:
#printing the square of the number(10^2,20^2,30^2......)
num =[10,20,30,40,50,60,70]          
for i in num:
    print(i*i)

100
400
900
1600
2500
3600
4900

In [2]:
#printing the cube of the number(10^3,20^3,30^3......)
num =[10,20,30,40,50,60,70]          
for i in num:
    print(i*i*i)

1000
8000
27000
64000
125000
216000
343000

In [4]:
for i in num:
    i*=2  #i=i*2
    print(i)

20
40
60
80
100
120
140

In [6]:
veggies = ['tomatoes','brinjal','spinach','cucumber','cabbage']
for i in veggies:
    i = i+'####'
    print(i)

tomatoes####
brinjal####
spinach####
cucumber####
cabbage####

In [26]:
result = {'sam':{'sub':['maths','science','cs','ds'],'marks':[70,80,50,68]},
         'fam':{'sub ':['maths','science','cs','ds'],'marks':[70,81,50,66]},
          'ram':{'sub':['maths','science','cs','ds'],'marks':[70,80,52,69]}}

In [27]:
for i in result.keys():
    print(i)

sam
fam
ram

In [28]:
import statistics
for i in result:
    avg=statistics.mean(i['marks'])
    print(avg)
    if avg>=70:
        print('A grade')

TypeError: string indices must be integers, not 'str'

In [30]:
#table print(1-10)
for i in range(1,11): #print(1--10)
    for j in range(1,11):
        mul = i*j
        print(mul)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100

In [34]:
n = [int(input('enter the value to print the table:'))]   #for iterting list we have to take [] bracket in the pront of the datatype
for i in n: #print(1--10)
    for j in range(1,11):
        mul = i*j
        print(mul)

enter the value to print the table:4
4
8
12
16
20
24
28
32
36
40

# pattern problem

In [ ]:
# This is the example of print simple pyramid pattern.
n = int(input("Enter the number of rows"))
# outer loop to handle number of rows.
for i in range(0, n):
# inner loop to handle number of columns.
# values is changing according to outer loop.
for j in range(0, i + 1):
# printing stars.

task = #print pattern using for loop in python
1
1,2
1,2,3
1,2,3,4
1,2,3,4,5


#print pattern using for loop in python
1
1,2
1,2,3
1,2,3,4
1,2,3
1,2
1

In [36]:
#n = int(input('enter the numberof rows'))
n = 10
for i in range(1,n+1):
    for m in range(1,i+1):
        print(m,end=",")
    print()

1,
1,2,
1,2,3,
1,2,3,4,
1,2,3,4,5,
1,2,3,4,5,6,
1,2,3,4,5,6,7,
1,2,3,4,5,6,7,8,
1,2,3,4,5,6,7,8,9,
1,2,3,4,5,6,7,8,9,10,

In [37]:
n = 10
for i in range(1,n+1):
    for m in range(1,n+1):
        print(m,end=",")
    print()

1,2,3,4,5,6,7,8,9,10,
1,2,3,4,5,6,7,8,9,10,
1,2,3,4,5,6,7,8,9,10,
1,2,3,4,5,6,7,8,9,10,
1,2,3,4,5,6,7,8,9,10,
1,2,3,4,5,6,7,8,9,10,
1,2,3,4,5,6,7,8,9,10,
1,2,3,4,5,6,7,8,9,10,
1,2,3,4,5,6,7,8,9,10,
1,2,3,4,5,6,7,8,9,10,

In [32]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [40]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [38]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [39]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*'*2,end=" ")
    print()

**
** **
** ** **
** ** ** **
** ** ** ** **

In [19]:
n = int(input('enter the number of rows'))
for i in range(1,n+1):
    for j in range(1,i+1):
            print(j,end=",")           
    print()

for i in range(n-1,0,-1):
    for j in range(1,i+1):
            print(j,end=",")   
    print()

enter the number of rows5
1,
1,2,
1,2,3,
1,2,3,4,
1,2,3,4,5,
1,2,3,4,
1,2,3,
1,2,
1,

In [51]:
#while loop:With the while loop we can execute a set of statements as long as a condition is true.
#intialisation
#condition
#increment and decrement

In [34]:
i = 1           #initialisation
while(i<=10):   #condition
    print(i)
    i=i+1       #increment

1
2
3
4
5
6
7
8
9
10

In [41]:
i = 10
while(i>=0):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1
0

In [44]:
#PRINTING THE FIRST n NATURAL NUMBER
n =int(input('enter the number'))
i = 1
while(i<=n):
    print(i)
    i = i+1
#PRINTING THE NUMBER FROM 5 TO 1
n = int(input('enter the number'))
i = n
while(i>=1):
    print(i)
    i = i-1

enter the number5
1
2
3
4
5
enter the number5
5
4
3
2
1

In [45]:
#SUM OF THE n NATURAL NUMBER
n = int(input('enter the number :'))
i= 1
sum = 0
while(i<=n):
    sum = sum+i
    i = i+1
print('sum=',sum)

enter the number :3
sum= 6

In [46]:
#print 1^2+2^2+3^2+4^2+.......n^2(sqaure)
n = int(input('enter the number :'))
i= 1
sum = 0
while(i<=n):
    sum = sum+i*i
    i = i+1
print('sum=',sum)

enter the number :5
sum= 55

In [47]:
##print 1^3+2^3+3^3+4^3+.......n^3(cube)
n = int(input('enter the number :'))
i= 1
sum = 0
while(i<=n):
    sum = sum+i*i*i
    i = i+1
print('sum=',sum)

enter the number :5
sum= 225

In [50]:
#printing the even numbers
n = int(input('enter the number'))
i = 2
while(i<=n):
    print(i)
    i = i+2

enter the number15
2
4
6
8
10
12
14

In [48]:
#printing the odd number
n = int(input('enter the number'))
i = 1
while(i<=n):
    print(i)
    i=i+2

enter the number10
1
3
5
7
9

In [5]:
#sum of the even number
n= int(input('enter the number:'))
i = 2
sum = 0
while(i<=n):
    sum = sum+i
    i =i+2
print("sum=",sum)

enter the number:5
sum= 6

In [11]:
#sum of the digits
i = 248
sum = 0
while(i>0):
    sum = sum+i%10
    i = i//10
print('sum of digits',sum)

sum of digits 14

In [14]:
#sum of square of digits
i = 248
sum = 0
while(i>0):
    sum = sum+(i%10)*(i%10)
    i = i//10
print('sum of digits',sum)

sum of digits 84

In [15]:
#sum of cube of digits
i = 248
sum = 0
while(i>0):
    sum = sum+(i%10)*(i%10)*(i%10)
    i = i//10
print('sum of digits',sum)

sum of digits 584

In [22]:
# print armstrong number(153=1^3+5^3+3^3=153)
i = 153
sum = 0
while(i>0):
    sum = sum+(i%10)*(i%10)*(i%10)
    i = i//10
if j == sum:
    print("the number is armstrong")
else:
    print("the number is not armstrong")
print("The sum is=",sum)

NameError: name 'j' is not defined

In [26]:
#product of digits
i = 22
prod = 1
while(i>0):
    prod = prod*(i%10)
    i=i//10
print("product of number:",prod)

product of number: 4

In [27]:
#print the reverse of the number
i = 248
rev = 0
while(i>0):
    rev = rev*10+(i%10)
    i = i//10
print("reverse of the number=",rev)

reverse of the number= 842

In [29]:
#print to check the palindrome number(example:121,242,....)
i = int(input())
pal = 0
x =i
while(i>0):
    pal = pal*10+(i%10)
    i = i//10
if x == pal:
    print("the number is palindrome")
else :
    print("the number is not palindrome")
print("sum of digits")

123
the number is not palindrome
sum of digits

In [30]:
#nested loop (while loop)
i = 1
while(i<5):
    j = 1 
    while(j<5):
        print(j)
        j = j+1
    i = i+1

1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4

In [35]:
i = 1
while(i<=5):
    j = 1
    while(j<=i):
        print("*", end=" ")
        j = j+1
    print()
    i = i+1

*
* *
* * *
* * * *
* * * * *

In [36]:
i = 1
while(i<=5):
    j = 1
    while(j<=i):
        print(i, end=" ")
        j = j+1
    print()
    i = i+1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [38]:
i = 1
while(i<=5):
    j = 1
    while(j<=5-1):
        print(' ',end = '')
        j = j+1
    k= 1
    while k <= i:
        print('*',end=' ')
        k = k+1
    print()
    i = i+1

    *
    * *
    * * *
    * * * *
    * * * * *